html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

body {
    background-color: rgb(245, 242, 238);
    margin: 0 auto;
    /*vertical-align:top;*/
    display: inline-block;
    width: 100%;
    min-height: 100%;
}


/*IMPORTATION HTML DANS UN AUTRE FICHIER*/

.include {
    /*importation d'un bout d'html*/
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.fix {
    position: fixed;
    z-index: 5;
}

.ft {
    background-color: #0d0d0d00;
    background: none;
    margin: 0;
    padding: 0;
}

.basdepage {
    position: relative;
    bottom: 0;
    padding-top: 30px;
}

.includecard {
    height: 450px;
    width: 100%;
}


/*IMPORTATION HTML DANS UN AUTRE FICHIER FIN*/

.main_title {
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    margin-left: 7%;
    color: rgb(31, 31, 31);
}

.second_title {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    margin-left: 7%;
    color: rgb(31, 31, 31);
}

.space {
    width: 100%;
    height: 80px;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    /*UNE LIGNE DE CARTES*/
    width: 90%;
    margin: 0px auto 0;
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

.half {
    width: 200%;
    height: 500px;
}

.three {
    width: 300%;
    height: 500px;
}

.row_button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.see_more {
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 100px;
}

span {
    font-weight: 700;
}