nav {
background-color: rgb(31, 31, 31);
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: flex-end;
   position: fixed;
   z-index: 10;
}

nav ul {
    display: flex;
	vertical-align:top;
    list-style: none;
    padding:0; /*décalage vers la droite*/
	margin:0; /*décalage vers le bas*/
	list-style-type:none;
	position: absolute;
	margin-top: 20px;
    margin-right: 2%;

}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 0;
    margin-left: 2%;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    margin-top: 15px;
}